span {
	color: #1abc9c;
}
.navbar-custom .navbar-toggle {
    background: #1abc9c;
}
.navbar-custom .nav > li > a:focus,
.navbar-custom .nav > li > a:hover,
.navbar-custom .nav > li.active > a,
.navbar-custom .nav .open > a,
.navbar-custom .nav .open > a:focus,
.navbar-custom .nav .open > a:hover {
    background-color: #1abc9c;
    color: #fff;
	font-size:13px;
}
.section-title-left::after , .section-title::after , .single-pricing-table .pricing-title h2::after {
  background: #1abc9c none repeat scroll 0 0;

}
.about-us-right .media:hover  .fa::before {
    background-color: #1abc9c;
}
.single-service .media .fa::before {
  /*background: #1abc9c none repeat scroll 0 0;*/
}
.single-service .media:hover {
    background-color: #1abc9c;
}
.single-service .media:hover .fa::before {
    color: #1abc9c;
}
.testimonial-body::before {
  color: #1abc9c;
}
.client-name::before {
  background: #1abc9c none repeat scroll 0 0;
}
#testimonial-carousel .owl-controls .owl-buttons .owl-prev:hover , #testimonial-carousel .owl-controls .owl-buttons .owl-next:hover {
	background: #1abc9c;
	border: 1px solid transparent;
	color: #fff;
}
.portfolio-filter-nav ul li:hover {
    background: #1abc9c none repeat scroll 0 0;
}
.portfolio-filter-nav ul li.active {
    background: #1abc9c none repeat scroll 0 0;
}
.single-pricing-table:hover .price , .single-pricing-table:hover .pricing-buttons button.buy-btn , .table-active .price {
    background-color: #1abc9c;
}
 .table-active .pricing-buttons button.buy-btn {
    background-color: #1abc9c !important;
    color: #fff !important;
    border: 1px solid transparent !important;
}
.our-partners-section {
	background-color: #1abc9c;
}
.blog-post-details .post-heading em a {
	color: #1abc9c !important;
}
.blog-post-details button.read-more-btn {
    background: #1abc9c none repeat scroll 0 0;
}
.form-control:focus {
    border-color: #1abc9c;
}
.social-icons a .fa:hover {
    background: #1abc9c;
}
.portfolio-button button.portfolio-btn {
    border: 2px solid #1abc9c;
    color: #1abc9c;
}
.portfolio-button button.portfolio-btn:hover {
    background-color: #1abc9c;
}
.thumbnails:hover span.portfolio-overlay {
    background-color: #1abc9c;
}
button.sl-prev .fa, button.sl-next .fa {
    color: #1abc9c;
}
.contact-form-section button.btn-contact {
	background-color: #1abc9c;
}
#main-slide .carousel-control i {
    color: #1abc9c;
}
#main-slide .carousel-control i:hover{
    background: #1abc9c;
}
