/*
| -----------------------------------------------------
| PRODUCT NAME: 	CloudSkul
| -----------------------------------------------------
| AUTHOR:			CLOUDSKUL TEAM
| -----------------------------------------------------
| EMAIL:			info@cloudskul.com
| -----------------------------------------------------
| COPYRIGHT:		RESERVED BY Cloudskul
| -----------------------------------------------------
| WEBSITE:			http://cloudskul.com
| -----------------------------------------------------
*/

/*employee profile page style starts here*/
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
.user-image img { clear: both; margin: auto; position: relative; width: 15%; height: auto;}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
.user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
.user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border: 1px solid #428BCA;}
.navigation li {float: left; margin: 0; padding: 0;}
.navigation li a {padding: 20px 30px; float: left;}
.navigation li a:hover {color:#000;}
.navigation li.active a {background: #428BCA; color: #fff;}
.user-info-block .user-body {
	float: left; 
	padding: 3% 1%;
    width: 100%;
    border-left: 1px solid rgba(66, 139, 202, 0.52);
    border-right: 1px solid rgba(66, 139, 202, 0.52);
    border-bottom: 1px solid rgba(66, 139, 202, 0.52);
    margin-bottom: 20px;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
.help-block b{
	color:#FF5722;
}

/* Start Onoff Small switch */ 
.onoffswitch-small {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-small-checkbox {
    display: none;
}
.onoffswitch-small-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
}
.onoffswitch-small-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-small-inner:before, .onoffswitch-small-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-small-inner:before {
    content: "ON";
    padding-left: 9px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-small-inner:after {
    content: "OFF";
    padding-right: 9px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-small-switch {
    display: block; width: 12px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    border: 2px solid #999999; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-inner {
    margin-left: 0;
}
.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-switch {
    right: 0px; 
}
/* Close Onoff Small switch */ 

.profile-view-dis > p > img {
  width: 150px;
  height: 150px;
  border: 5px solid #CCC;
  margin-bottom: 30px; 
}

#media-upload {
  border-radius: 5px;
  padding-top: 25px !important;
  font-size: 30px !important;
  width: 195px;
  height: 150px;
  margin-left: 0 !important;
  opacity: 0.7;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#media-upload:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
#media-upload > i{
  font-size: 100px !important;
}
#media-folder {
  border-radius: 5px;
  padding-top: 25px !important;
  font-size: 14px !important;
  font-style: bold;
  text-transform: uppercase;
  width: 195px;
  height: 150px;
  margin-left: 0 !important;
  opacity: 0.9;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#media-folder:hover {
  opacity: 1;
  -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}
#media-folder > div > i{
  font-size: 100px !important;
  color:#859fc6;
}
/* upload media button */
#upload_media {
  display:none !important;
}
/* disable button */
/*#close_folder {
   pointer-events: none;
   cursor: default;
}*/
#close_folder {
    left: 185px;
    position: absolute;
    top: 2px;
}
.share_file {
    left: 23px;
    position: absolute;
    top: 4px;
    cursor: pointer;
}

/* on off switch */
.onoffswitch {
	position: relative; width: 90px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	-moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "ON";
	padding-left: 10px;
	background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "OFF";
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #FFFFFF;
	border: 2px solid #999999; border-radius: 20px;
	position: absolute; top: 0; bottom: 0; right: 56px;
	-moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}
/* end oon off switch */

.panel-heading h4, .panel-heading a{
	font-size:16px;
}
.panel-heading a{
	margin-top:-4px;
}
.m20{
	margin-bottom:20px;
}
.fileUpload {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.profile-head-bg{
	padding:0px;
	background:url('../img/login-bg/action-bg.jpg') no-repeat;
	text-align:center;
	background-size:cover;
}

.profile-image img{
	border-radius:500px;
	border:2px solid #1D515E;
}
.profile-image{
	margin:10px 0px 0px 0px !important;
	width:100%;
	float:left;
	height:auto !important;
}
.profile-left{
	margin-bottom:0px !important;
	width:100% !important;
	float:left;
	text-align:center;
}
.profile-right{
	float:left;
	width:100%;
	margin-left:0px !important;
}
.profile-highlight{
	padding:3px;
	color:#fff;
	background:rgba(0,0,0,0.5) !important;
	border-radius:0px !important;
	width:100%;
	float:left;
}
.profile-highlight h4{
	color:#fff;
	font-size:14px !important;
}
.profile-image img{
	display:inline !important;
}
.book {
  display: none;
  z-index: 1000000;
  position: fixed;
  clear: both;
  margin: 0px;
  padding: 0px 10px;
   -webkit-box-shadow: -1px 3px 11px 0px rgba(42, 50, 50, 0.57);
  -moz-box-shadow:    -1px 3px 11px 0px rgba(42, 50, 50, 0.57);
  box-shadow:         -1px 3px 11px 0px rgba(42, 50, 50, 0.57);
  background-color: #fff;
}

.result {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.result li {
  padding: 5px;
  border-top: 0;
  cursor: pointer;
}

.result li:hover {
  background: #e2e7eb;
  color: #555555;
}

/*upload button styles starts here*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
	font-size: 16px;
	font-weight: 300;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	color: #fff !important;
	font-family: "Segoe UI" !important;
	display: block;
	text-align: center;
	border-color: #09A3A3;
	border: 1px solid transparent;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}



/* style 1 */

.inputfile-1 + label {
    color: #fff !important;
	background-color: #00ACAC;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #09A3A3;
	border-color: #09A3A3;
	border: 1px solid transparent;
}

/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

/* DEFAULT CSS OVERRIDE STYLE FOR THE TEMPLATE FROM PATRICK'S TABLE */
#super_admin .navbar-brand {
    width: auto !important;
}
#super_admin .text-uppercase{
	text-transform: uppercase;
}
#super_admin .result-list>li, .widget {
    border-radius: 0px !important;
}
#super_admin .widget-stats .stats-info h4 {
    font-size: 18px !important;
}
#super_admin .widget-stats .stats-link a {
    font-size: 14px !important;
}
#super_admin .widget-stats .stats-icon {
    font-size: 50px !important;
    opacity: .3 !important;
    filter: alpha(opacity=20);
}
#navbar-override .notifications-footer a {
    padding: 0 !important;
    display: inline !important;
}
#navbar-override .notifications-footer a {
    display: block !important;
    padding: 16px 20px !important;
    clear: both !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    white-space: nowrap !important;
    text-align: center;
}
#navbar-override .media a:hover {
	color: #333 !important;
	text-decoration: underline;
}
#navbar-override-notification .notifications-footer a {
    padding: 0 !important;
    display: inline !important;
}
#navbar-override-notification .notifications-footer a {
    display: block !important;
    padding: 16px 20px !important;
    clear: both !important;
    font-weight: 400 !important;
    line-height: 1.42857143 !important;
    color: #333 !important;
    white-space: nowrap !important;
    text-align: center;
}
#navbar-override-notification a.navbar-override-link:hover {
	color: #333 !important;
	text-decoration: underline !important;
}
#super_admin i.ion-ios-personadd-outline.override-icon,
#super_admin i.ion-ios-email-outline,
#super_admin i.ion-ios-telephone-outline,
#super_admin i.ion-ios-list-outline {
    font-size: 20px;
}
#super_admin .wrap-table-text{
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
}
#super_admin .align-vertical-table{
	vertical-align: middle !important;
}
#super_admin > div.col-md-8.ui-sortable > div > div.panel-body.p-t-0 > table > tbody > tr:nth-child(1) > td:nth-child(4),
#super_admin > div.col-md-8.ui-sortable > div > div.panel-body.p-t-0 > table > tbody > tr:nth-child(1) > td.align-vertical-table.col-md-7,
#super_admin > div.col-md-8.ui-sortable > div > div.panel-body.p-t-0 > table > tbody > tr:nth-child(1) > td.align-vertical-table.col-md-3,
#super_admin > div.col-md-8.ui-sortable > div > div.panel-body.p-t-0 > table > tbody > tr:nth-child(1) > td:nth-child(1){
	border-top: 0 !important;
}

.main-footer{
	margin-top: 50px;
    background: #fff;
    margin-left: -25px;
    margin-right: -25px;
    padding: 25px 20px;
    margin-bottom: -20px;
    border-top: 1px solid gainsboro;
    font-size: 10px;
}

.select2-results {
    display: block;
    padding: 10px 8px !important;
}