@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?ry49jm');
	src:url('icomoon.eot?ry49jm#iefix') format('embedded-opentype'),
		url('icomoon.ttf?ry49jm') format('truetype'),
		url('icomoon.woff?ry49jm') format('woff'),
		url('icomoon.svg?ry49jm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-systemadmin:before {
	content: "\e800";
}
.icon-school:before {
	content: "\e801";
}
.icon-account:before {
	content: "\e600";
}
.icon-attendance:before {
	content: "\e601";
}
.icon-bus:before {
	content: "\e602";
}
.icon-eattendance:before {
	content: "\e603";
}
.icon-exam:before {
	content: "\e604";
}
.icon-expense:before {
	content: "\e605";
}
.icon-feetype:before {
	content: "\e606";
}
.icon-fine:before {
	content: "\e607";
}
.icon-hhostel:before {
	content: "\e608";
}
.icon-hostel:before {
	content: "\e609";
}
.icon-invoice:before {
	content: "\e60a";
}
.icon-issue:before {
	content: "\e60b";
}
.icon-lbooks:before {
	content: "\e60c";
}
.icon-library:before {
	content: "\e60d";
}
.icon-mailandsms:before {
	content: "\e60e";
}
.icon-mailandsmstop:before {
	content: "\e60f";
}
.icon-member:before {
	content: "\e610";
}
.icon-message:before {
	content: "\e611";
}
.icon-payment:before {
	content: "\e612";
}
.icon-paymentsettings:before {
	content: "\e613";
}
.icon-phistory:before {
	content: "\e614";
}
.icon-promotion:before {
	content: "\e615";
}
.icon-routine:before {
	content: "\e616";
}
.icon-sattendance:before {
	content: "\e617";
}
.icon-sbus:before {
	content: "\e618";
}
.icon-setfee:before {
	content: "\e619";
}
.icon-student:before {
	content: "\e61a";
}
.icon-subject:before {
	content: "\e61b";
}
.icon-tattendance:before {
	content: "\e61c";
}
.icon-teacher:before {
	content: "\e61d";
}
.icon-template:before {
	content: "\e61e";
}
.icon-key-new:before {
	content: "\e98d";
}
.icon-lock-new:before {
	content: "\e98f";
}

