/*
| -----------------------------------------------------
| PRODUCT NAME: 	CloudSkul
| -----------------------------------------------------
| AUTHOR:			CLOUDSKUL TEAM
| -----------------------------------------------------
| EMAIL:			info@cloudskul.com
| -----------------------------------------------------
| COPYRIGHT:		RESERVED BY Cloudskul
| -----------------------------------------------------
| WEBSITE:			http://cloudskul.com
| -----------------------------------------------------
*/

.invoice-installments input[type=radio]{
	width:20px;
	height:20px;
	font-size:22px;
	margin-top:-1px;
}

/* User Image & Login Start */
.user-logo {
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 0px; 
  padding: 0px 0px 0px 0px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-body > div > a:hover {
 color: #366873;
}

.navbar-nav > .user-menu > .dropdown-menu {
  border: 0px solid #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  -webkit-border-bottom-left-radius: 5px; 
  -webkit-border-bottom-right-radius: 5px; 
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-footer > div.text-center > a {
  color: #fff;
}
/* User Image & Login Close */

/* Language Start */
.language-img {
  margin: 0px;
  padding: 0px;
  height: 14px;
  width: 22px;
  padding: 0px 0px 0px 0px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > div > img {
  border: 1px solid #dddddd;
  height: 20px;
  margin: auto 10px auto 0px;
  width: 30px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > h4 {
  font-size: 12px;
  margin: 0;
  padding: 0px;
}

.navbar-nav > .notifications-menu > .dropdown-menu {
  width: 170px;
}

/* Labguage Close */

/* School Start */
.school-img {
  margin: 0px;
  padding: 0px;
  height: 14px;
  width: 18px;
  padding: 0px 0px 0px 0px;
}

.navbar-nav > .school-menu > .dropdown-menu > li .menu > li > a > div > img {
  border: 1px solid #dddddd;
  height: 35px;
  margin: auto 10px auto 0px;
  width: 35px;
}
.navbar-nav > .school-menu > .dropdown-menu > li .menu > li > a > h4 {
  /*line-height: 30px;*/
  font-size: 15px;
  margin: 0 0 5px;
  padding: 10px 0 0 0;
}

/* School Close */

/* Menu User Image Start */
.color-green {
  color: #00acac;
}
/* Menu User Image End */

/* Side Menu  Start */
.sidebar .sidebar-menu > li > a:hover {
  background-color:  #232a2f !important;
  color: #EEEEEE !important;
}
.sidebar .sidebar-menu .treeview-menu > li > a:hover {
  background-color: #232a2f;
  color: #EEEEEE;
}
/* Side Menu Close */

/* Breadcrumb Start */
.box > .box-header > .breadcrumb {
  background: none !important; 
  float: right;
  padding: 14px;
  margin-bottom: 0px;
  position: relative;
  font-size: 12px;
}
/* Breadcrumb Close */

/* Page Header Add Module */
.page-header > a {
  font-size: 14px;
  border-bottom: 1px solid #707478;
  color: #707478;
}

.page-header > a:hover {
  border-bottom: 1px solid #1A2229;
  color: #1A2229;
}
/* page Header Add Module */

/* Lable Start */
.form-horizontal .control-label {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
}

label {
  font-weight: 000;
  color: #707478;
}
/* Lable Close */

/* From span Start*/
.form-horizontal > .form-group > span {
  font-weight: 000;
  color: #FF0B07;
}
/*  From span Close */

/* Table start */
.table-bordered {
    border: 1px solid #E2E7EB;
}
.table-bordered > thead > tr > th {
  border-bottom-width: 2px;
  color: #1A2229;
  font-weight: 300;
}
.table-bordered > tbody > tr > td {
  color: #707070;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border-color: #E2E7EB;
  font-size: 12px;
}

.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus  {
  border-color: #E2E7EB;
}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
  border-color: #242A30;
  background-color: #242A30;
}

.pagination > li > a, 
.pagination > li > span {
  border-color: #E2E7EB;
}
/* Table Close */

/* Login Start */
.white-bg-login {
    /*background: none repeat scroll 0 0 #F1F2F7;*/
	font-family: "Segoe UI" !important;
	font-size: 14px;
}
.form-box .header {
    background: none repeat scroll 0 0 #1A2229;
}

.form-box > .header {
  margin-top: 90px;
}

/*
.form-box .body, .form-box .footer {
  border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
}
*/

.form-box .body > .form-group > input, 
.form-box .footer > .form-group > input {
    border: 1px solid #E2E7EB;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.070) inset;
}

.checkbox > label > input[type="checkbox"] {
    float: left;
    padding: 0px;
    margin: 2px 0px 0px 0px;   
}

.checkbox > label > span {
  color:#a4b1c2;
}

.checkbox > span > label > a {
  color:#a4b1c2;
}
/* Login Close */

/* Button Margin ex: edit, delete, view Start */
.mrg {
  margin-left: 2px;
  margin-right: 2px;
}
/* Button Margin ex: edit, delete, view Close */

/* File Browse Start */
.fileUpload {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* File Browse Close */

/* Fine Total Start */
.total {
    float: right;
    border:1px solid #ccc;
    padding:10px;
    background-color: #142;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.total-marg {
  padding-left: 0px; 
  padding-right: 0px;
}
/* Fine Total Close */

/* Biograph Start */ 
.profile-view-head {
    /*background: url(../uploads/images/bg_profile.png);*/
	background: url('http://dev.cloudskul.com/uploads/images/bg_profile.png');
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
}

.profile-view-head  a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 10px solid rgba(256,256,256,0.3);
    display: inline-block;
}

.profile-view-head a img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-view-head h1 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-view-head p {
    font-size: 12px;
}

.profile-view-dis {
    color: #222;
}

.profile-view-dis h1 {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 20px;
}

.profile-view-tab {
    width: 50%;
    float: left;
    margin-bottom: 10px;
    padding:0 15px;
}

.profile-view-tab p span {
    display: inline-block;
    width: 40%;
}

.panel{
	border-radius: 0px !important;
}

/* Biograph Close */

/* Profile Graph Start */
.profile-db-head {
    background: #FDB45C;
    color: #fff;
    text-align: center;
    font-style: italic;
    padding: 5px;
    font-size: 16px;
    font-weight: 300;
}

.profile-db-head  a  {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid rgba(256,256,256,0.3);
    display: inline-block;
}

.profile-db-head a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-db-head h1 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 5px;
}

.profile-db-head p {
    font-size: 12px;
}

/* Profile Graph End */

/* View Button Start */
.btn-cs {
  background-color: #FF766C;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  margin: 2px;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-cs:hover {
  background-color: #ED857E;
  color: #EDEDED;
}

.btn-sm-cs {
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}
/* View Button Close */

/* IDcard Start */

.idcard-Table {
  background-color: #FF766C;
  width: 100%;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  -moz-border-top-left-radius: 60px;
  -moz-border-bottom-left-radius: 60px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;

  -webkit-border-top-left-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

.idcard-Table td {
  width: 40%;
}

.idcard-Table h4 {
  margin: 0px;
  padding: 0px;
}

.idcard-Table img {
  border-radius: 50%;
  width: 110px;
  height: 110px;
  border: 8px solid #FF9F98;
}

.idcard-Table .row-style {
  color: #FFFFFF;
  vertical-align: top;
  margin:0px; 
  padding:0px;
}

/* IDcard Close */

/* View breadcrumb Start */
.well .breadcrumb {
  float: right;
  margin-bottom: 0px;
}
/* View breadcrumb Close */


/* Dashboard Start */

.panel > .table > tbody > tr {
  border-top: 1px solid #EEEEEE;
  height: 45px;
}

.panel > .table > tbody > tr > td {
  line-height: 22px;
}

/* Dashboard Close */

/* Library book sugation Start */

.book {
  display: none;
  z-index: 1000000;
  position: fixed;
  clear: both;
  margin: 0px;
  padding: 0px;
  border-left: 1px solid #e2e7eb;
  border-right: 1px solid #e2e7eb;
  border-bottom: 1px solid #e2e7eb;
  background-color: #fff;
  -webkit-box-shadow: -1px 3px 11px 0px rgba(42, 50, 50, 0.57);
  -moz-box-shadow:    -1px 3px 11px 0px rgba(42, 50, 50, 0.57);
  box-shadow:         -1px 3px 11px 0px rgba(42, 50, 50, 0.57);
}

.result {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

.result li {
  padding: 5px;
  border-top: 0;
  cursor: pointer;
}

.result li:hover {
  background: #e2e7eb;
  color: #555555;
}

/* Library book sugation Start */

/* Start tag border of mail and sms template */
.border {
  border: 1px solid #e2e7eb;
  padding: 1px 1px 1px 0px;
  min-height: 70px;
  max-height: auto;
}

.email_alltag {
  margin: 1px 1px 1px 0px;
}

.sms_alltag {
  margin: 1px 1px 1px 0px;
}
/* Close tag border of mail and sms template */


/* Start Onoff Small switch */ 
.onoffswitch-small {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-small-checkbox {
    display: none;
}
.onoffswitch-small-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 10px;
}
.onoffswitch-small-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-small-inner:before, .onoffswitch-small-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-small-inner:before {
    content: "ON";
    padding-left: 9px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-small-inner:after {
    content: "OFF";
    padding-right: 9px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-small-switch {
    display: block; width: 12px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 38px;
    border: 2px solid #999999; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-inner {
    margin-left: 0;
}
.onoffswitch-small-checkbox:checked + .onoffswitch-small-label .onoffswitch-small-switch {
    right: 0px; 
}
/* Close Onoff Small switch */ 

.profile-view-dis > p > img {
  width: 150px;
  height: 150px;
  border: 5px solid #CCC;
  margin-bottom: 30px; 
}

/* Start All School for school */
.allschool > center > img {
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
  padding-right: auto;
  height: 100px;
  width: 100px;
}

.allschool > .allschool-text > p {
  color: #000;
  text-align: center;
}
/* End All School for school */


/*BIGIN CSS BY DEV. PATRICK IKOI*/
.info-box {
	display:block;
	min-height:90px;
	background:#fff;
	width:100%;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	margin-bottom:15px
}
.info-box small {
	font-size:14px
}
.info-box .progress {
	background:rgba(0,0,0,0.2);
	margin:5px -10px 5px -10px;
	height:2px
}
.info-box .progress,.info-box .progress .progress-bar {
	border-radius:0
}
.info-box .progress .progress-bar {
	background:#fff
}
.info-box-icon {
	display:block;
	float:left;
	height:90px;
	width:90px;
	text-align:center;
	font-size:45px;
	line-height:90px;
	background:rgba(0,0,0,0.2)
}
.info-box-icon>img {
	max-width:100%
}
.info-box-content {
	padding:5px 10px;
	margin-left:90px
}
.info-box-number {
	display:block;
	font-weight:bold;
	font-size:30px
}
.progress-description,.info-box-text {
	display:block;
	font-size:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}
.info-box-text {
	text-transform:uppercase
}
.info-box-more {
	display:block
}
.content-header > h1 {
    margin: 0px;
    font-size: 24px;
	font-family: "Segoe UI" !important;
}
.content-header > h1 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}
.bg-aqua {
    background-color: #00c0ef !important;
}
.bg-red{
    background-color: #dd4b39 !important;
}
.bg-green{
    background-color: #00a65a !important;
}
.bg-yellow{
    background-color: #f39c12 !important;
}
.info-box-link{
	color: #333 !important;
}
.shift_icons{
	margin-right: 5px;
}

/* footer styles begins here*/
.main-footer {
    background: #FFF none repeat scroll 0% 0%;
    padding: 20px;
    color: #444;
    border-top: 1px solid #D2D6DE;
}
.content-wrapper, .right-side, .main-footer {
    transition: transform 0.3s ease-in-out 0s, margin 0.3s ease-in-out 0s;
    z-index: 820;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}
.skin-blue .sidebar-menu > li.header {
    color: rgba(204, 224, 249, 0.31) !important;
	background: rgba(12, 22, 30, 0.82) none repeat scroll 0% 0%;
}
.sidebar-form, .sidebar-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent none repeat scroll 0% 0%;
    box-shadow: none !important;
    color: #97A0B3;
}
.box-header.with-border {
    border-bottom: 1px solid #F4F4F4;
}

.users-list>li {
	width:25%;
	float:left;
	padding:10px;
	text-align:center
}
.users-list>li img {
	border-radius:50%;
	max-width:100% !important;
	height:auto
}
.users-list>li>a:hover,.users-list>li>a:hover .users-list-name {
	color:#999
}
.users-list-name,.users-list-date {
	display:block
}
.users-list-name {
	font-weight:600;
	color:#444;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis
}
.users-list-date {
	color:#999;
	font-size:12px
}

/*Login links animation starts here*/
a.redirectLinks{
	font-size: 12px !important;
}
a.redirectLinks:hover{
	text-decoration: underline;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
/*upload button styles starts here*/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
	font-size: 16px;
	font-weight: 300;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 0.625rem 1.25rem;
	color: #fff !important;
	font-family: "Segoe UI" !important;
	display: block;
	text-align: center;
	border-color: #09A3A3;
	border: 1px solid transparent;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #fff !important;
	background-color: #00ACAC;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #09A3A3;
	border-color: #09A3A3;
	border: 1px solid transparent;
}

/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

/*responsive sidebar design starts here*/
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  /* padding: 0; */
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
  display: block;
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 50px!important;
    z-index: 840;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li {
    position: relative;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 50px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: inherit;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  .sidebar-mini.sidebar-collapse .sidebar-form,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none!important;
    -webkit-transform: translateZ(0);
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
  }
}
.sidebar-menu,

.sidebar-menu li > a {
  position: relative;
}
.sidebar-menu li > a > .pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
}

#myNavigation .slimScrollDiv{
	position: relative !important;
	overflow: none !important;
	width: auto !important;
	height: 100% !important;
}
#myNavigation .slimScrollDiv  .sidebar{
	overflow: none !important;
	width: auto;
	height: auto;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #222d32;
}
@media (min-width: 768px){
	.sidebar-collapse .main-sidebar, .sidebar-collapse .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}
}
.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 220px;
    z-index: 810;
    -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
}

@media (min-width: 768px){
	.sidebar-mini.sidebar-collapse .main-sidebar {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 50px !important;
		z-index: 850;
	}
	
	.sidebar-mini.sidebar-collapse .main-sidebar  .image{
		margin-left: -3px !important;
		padding-left: 0px !important;
	}
	
	.user-panel > .image > img {
		width: 35px;
		height: 35px;
	}
}

.main-header .logo .logo-mini {
    display: none;
}

/*@media only screen and (min-width: 767px) 
{ aside.left-side .sidebar-offcanvas .main-sidebar{ display:none; } }*/

/*@media only screen and (max-width: 767px) {
    aside.left-side {
        visibility: hidden !important;
    }
}*/

@media (max-width: 767px){
	.main-sidebar, .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}
}
@media (max-width: 767px){
	.sidebar-open .main-sidebar, .sidebar-open .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}
}

/*footer responsiveness starts here*/
footer {
    margin-left: 220px;
}
@media (max-width: 767px){
	footer {
		margin-left: 0px !important;
	}
}

/*Invoice page styles starts here*/
.well-offset{
	background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
	border-radius: 0px !important;
	border-top: 3px solid rgb(221, 75, 57);
}

.invoice-offset{
	border-bottom: 1px solid gainsboro;
	margin-bottom: 20px;
}
#myNavigation > aside.right-side > section.content > div > div > div.well.well-offset > div > div:nth-child(1) > a:nth-child(2){
	border-radius: 0px !important;
	background-color: #3C8DBC !important;
	border-color: #367FA9 !important;
}
#myNavigation > aside.right-side > section.content > div > div > div.well.well-offset > div > div:nth-child(1) > a:nth-child(3)
{
	border-radius: 0px !important;
}

#divButton > a:nth-child(2)
{
	border-radius: 0px !important;
	background-color: #3C8DBC !important;
	border-color: #367FA9 !important;
}

#divButton > a:nth-child(3)
{
	border-radius: 0px !important;
}

#divButton > a:nth-child(2),
#divButton > a:nth-child(3),
#printablediv > section > div:nth-child(5) > div:nth-child(2) > div.col-sm-12 > button.btn.btn-default.btn-sm,
#printablediv > section > div:nth-child(5) > div:nth-child(2) > div.col-sm-12 > button.btn.btn-success.btn-sm{
	font-size: 11px !important;
}

.well > .row > .col-md-12 > h3 {
	font-family: "Segoe UI" !important;
	font-size: 24px;
	font-weight: lighter !important;
}
.well > .row > .col-md-12 > h3 > small {
    font-size: 15px;
    display: inline-block;
    padding-left: 4px;
    font-weight: 300;
}

#remitaImage{
	margin-top: 40px;
}
@media (max-width: 768px){
	#remitaImage{
		margin-top: 0px;
	}
}


@media print {
	.printNone {
		display:none !important;
	}
}

#exampl > tbody > tr > td{
	vertical-align: middle !important;
}

.label{
	font-weight: normal !important;
    font-size: inherit;
    border-radius: 0px !important;
}

.table{
	overflow: hidden !important;
}

.btn{
	border-radius: 0px !important;
}
.offset_breadcrumb{
	background: rgb(255, 255, 255) none repeat scroll 0% 0% !important;
}

/*User profile styles starts here*/
.userProfileHeader{
	position: relative;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
	margin: 0px;
}
.userProfileHeader .headerSizer {
    max-width: none;
    width: auto;
}
.userProfileHeader  .header {
    background: #fff;
    margin-top: 50px;
}
.userProfileHeader .profileImage {
    margin: 0 auto -136px;
    padding-top: 18px;
    position: relative;
    width: 130px;
    z-index: 1000;
}
.userProfileHeader .profileImage img {
    border-radius: 100%;
    -webkit-box-shadow: inset 0 0 0 -2px rgba(255,255,255,0.48),0 0 0 1px rgba(0, 0, 0, 0.2),0 0 0 8px #fff;
    box-shadow: inset 0 0 0 -2px rgba(255,255,255,0.48),0 0 0 1px rgba(0, 0, 0, 0.2),0 0 0 8px #fff;
    height: 100px;
    width: 100px;
    background: #fff;
}
.userProfileHeader .fixedHeader {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px 0 rgba(220, 216, 216, 0.6);
    box-shadow: 0 2px 4px 0 rgba(220, 216, 216, 0.6);
    left: 0;
    margin-bottom: -70px;
    overflow: hidden;
    right: 0;
    top: 54px;
    z-index: 103;
    border-bottom: 1px solid #D4D1D1;
	padding: 12px 0px 10px;
}
.userProfileHeader .titleBar {
    height: 32px;
    margin: 18px auto;
    position: relative;
}
@media (max-width: 1499px) and (min-width: 1250px){
	.centeredWithinWrapper.gridWidth {
		width: 1236px;
	}
}
.centeredWithinWrapper {
    margin: 0 auto;
}
@media (max-width: 1499px) and (min-width: 1250px){
	.centeredWithinWrapper {
		width: 1250px;
	}
}
.roundBottom{
	border-bottom: 2px solid #CAC1C1;
    margin: 0px auto;
    width: 118px;
    height: 125px;
    position: absolute;
    left: -31px;
    right: 0;
    top: 1px;
    border-radius: 50%;
    webkit-box-shadow: 0 2px 4px 0 rgba(220, 216, 216, 0.6);
    box-shadow: 0 2px 2px 0 rgb(220, 216, 216);
    z-index: 1;
}

.userProfileHeader .profileBody {
   position: relative;
    padding: 10px 15px;
    text-align: center;
    font-weight: 300 !important;
	font-family: "Segoe UI" !important;
}

.roundButton{
	padding: 10px 14px 10px 16px;
    font-size: 16px;
    border-radius: 50% !important;
    text-align: center;
    margin-top: -8px;
}

.profileInformation{
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 1px 0 0 rgba(0,0,0,0.1);
}

.textBold{
	font-weight: bold !important;
}
i.iconSchoolDetails{
    width: 26px;
    height: 26px;
    line-height: 26px;
    margin: 0 14px 0 0;
    border-radius: 999px;
    text-align: center;
    position: relative;
    top: auto;
	float: left;
}
.schoolDetails{
	float: left;
	line-height: 26px;
	width: 45%;
}

@media (max-width: 768px){
	#responsiveSection p{
		font-size: 12px !important;
	}
	.schoolDetails {
		float: none !important;
		line-height: 26px;
		width: 45%;
	}
}
@media (max-width: 1024px){
	#responsiveSection p{
		font-size: 12px !important;
	}
	
	.schoolDetails {
		float: none !important;
		line-height: 26px;
		width: 45%;
	}
}
/*textbox override style*/
.input-group {
    width: 100% !important;
}



.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}
.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu > li .label,
.sidebar-menu > li .badge {
  margin-top: 3px;
  margin-right: 5px;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
  display: block;
}
.sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
  padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a > .fa,
.sidebar-menu .treeview-menu > li > a > .glyphicon,
.sidebar-menu .treeview-menu > li > a > .ion {
  width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}
/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper,
  .sidebar-mini.sidebar-collapse .right-side,
  .sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 50px!important;
    z-index: 840;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 50px!important;
    z-index: 850;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li {
    position: relative;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a {
    margin-right: 0;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    border-top-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-radius: 0px !important;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block!important;
    position: absolute;
    width: 180px;
    left: 50px;
    border: 0px;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
    top: 0;
    margin-left: -3px;
    padding: 12px 5px 12px 20px;
    background-color: #000;
    color: #fff;
  }
  .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 44px;
    margin-left: 0;
    border: 0px;
    margin: 0 !important;
    padding-top: 0px !important;
  }
  .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info,
  .sidebar-mini.sidebar-collapse .sidebar-form,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu,
  .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right,
  .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none!important;
    -webkit-transform: translateZ(0);
  }
  .sidebar-mini.sidebar-collapse .main-header .logo {
    width: 50px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
  }
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-lg {
    display: none;
  }
  .sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 50px;
  }
}
.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: nowrap!important;
  overflow: hidden;
}
.sidebar-menu:hover {
  overflow: visible;
}
.sidebar-form,
.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}
.sidebar-menu li > a {
  position: relative;
}
.sidebar-menu li > a > .pull-right {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
}
/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */
.control-sidebar-bg {
  position: fixed;
  z-index: 1000;
  bottom: 0;
}
.control-sidebar-bg,
.control-sidebar {
  top: 0;
  right: -230px;
  width: 230px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
.control-sidebar {
  position: absolute;
  padding-top: 50px;
  z-index: 1010;
}
@media (max-width: 768px) {
  .control-sidebar {
    padding-top: 100px;
  }
}
.control-sidebar > .tab-content {
  padding: 10px 15px;
}
.control-sidebar.control-sidebar-open,
.control-sidebar.control-sidebar-open + .control-sidebar-bg {
  right: 0;
}
.control-sidebar-open .control-sidebar-bg,
.control-sidebar-open .control-sidebar {
  right: 0;
}
@media (min-width: 768px) {
  .control-sidebar-open .content-wrapper,
  .control-sidebar-open .right-side,
  .control-sidebar-open .main-footer {
    margin-right: 230px;
  }
}
.control-sidebar-tabs > li:first-of-type > a {
  margin-left: 1px;
}
.control-sidebar-tabs > li:first-of-type > a,
.control-sidebar-tabs > li:first-of-type > a:hover {
  border-left-width: 0!important;
}
.control-sidebar-tabs > li > a {
  border-radius: 0 !important;
}
.control-sidebar-tabs > li > a,
.control-sidebar-tabs > li > a:hover {
  border-top: none;
  border-right: none;
  border-left: 1px solid transparent!important;
  border-bottom: 1px solid transparent!important;
}
.control-sidebar-tabs > li > a .icon {
  font-size: 16px;
}
.control-sidebar-tabs > li.active > a,
.control-sidebar-tabs > li.active > a:hover,
.control-sidebar-tabs > li.active > a:focus,
.control-sidebar-tabs > li.active > a:active {
  border-top: none!important;
  border-right: none!important;
  border-bottom: none!important;
}
@media (max-width: 768px) {
  .control-sidebar-tabs {
    display: table;
  }
  .control-sidebar-tabs > li {
    display: table-cell !important;
  }
}
.control-sidebar-heading {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
}
.control-sidebar-subheading {
  display: block;
  font-weight: 400;
  font-size: 14px;
}
.control-sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}
.control-sidebar-menu > li > a {
  display: block;
  padding: 10px 15px;
}
.control-sidebar-menu > li > a:before,
.control-sidebar-menu > li > a:after {
  content: " ";
  display: table;
}
.control-sidebar-menu > li > a:after {
  clear: both;
}
.control-sidebar-menu > li > a > .control-sidebar-subheading {
  margin-top: 0;
}
.control-sidebar-menu .menu-icon {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
}
.control-sidebar-menu .menu-info {
  margin-left: 45px;
  margin-top: 3px;
}
.control-sidebar-menu .menu-info > .control-sidebar-subheading {
  margin: 0;
}
.control-sidebar-menu .menu-info > p {
  margin: 0;
  font-size: 11px;
}
.control-sidebar-menu .progress {
  margin: 0;
}
.control-sidebar-dark {
  color: #b8c7ce;
}
.control-sidebar-dark,
.control-sidebar-dark + .control-sidebar-bg {
  background: #222d32;
}
.control-sidebar-dark .control-sidebar-tabs {
  border-bottom: #1c2529;
}
.control-sidebar-dark .control-sidebar-tabs > li > a {
  background: #181f23;
  color: #b8c7ce;
}
.control-sidebar-dark .control-sidebar-tabs > li > a,
.control-sidebar-dark .control-sidebar-tabs > li > a:hover {
  border-left-color: #141a1d !important;
  border-bottom-color: #141a1d !important;
}
.control-sidebar-dark .control-sidebar-tabs > li > a:hover,
.control-sidebar-dark .control-sidebar-tabs > li > a:focus,
.control-sidebar-dark .control-sidebar-tabs > li > a:active {
  background: #1c2529;
}
.control-sidebar-dark .control-sidebar-tabs > li.active > a,
.control-sidebar-dark .control-sidebar-tabs > li.active > a:hover,
.control-sidebar-dark .control-sidebar-tabs > li.active > a:focus,
.control-sidebar-dark .control-sidebar-tabs > li.active > a:active {
  background: #222d32;
  color: #fff;
}
.control-sidebar-dark .control-sidebar-heading,
.control-sidebar-dark .control-sidebar-subheading {
  color: #fff;
}
.control-sidebar-dark .control-sidebar-menu > li > a:hover {
  background: #1e282c;
}
.control-sidebar-dark .control-sidebar-menu > li > a .menu-info > p {
  color: #b8c7ce;
}
.control-sidebar-light {
  color: #5e5e5e;
}
.control-sidebar-light,
.control-sidebar-light + .control-sidebar-bg {
  background: #f9fafc;
  border-left: 1px solid #d2d6de;
}
.control-sidebar-light .control-sidebar-tabs {
  border-bottom: #d2d6de;
}
.control-sidebar-light .control-sidebar-tabs > li > a {
  background: #e8ecf4;
  color: #444444;
}
.control-sidebar-light .control-sidebar-tabs > li > a,
.control-sidebar-light .control-sidebar-tabs > li > a:hover {
  border-left-color: #d2d6de !important;
  border-bottom-color: #d2d6de !important;
}
.control-sidebar-light .control-sidebar-tabs > li > a:hover,
.control-sidebar-light .control-sidebar-tabs > li > a:focus,
.control-sidebar-light .control-sidebar-tabs > li > a:active {
  background: #eff1f7;
}
.control-sidebar-light .control-sidebar-tabs > li.active > a,
.control-sidebar-light .control-sidebar-tabs > li.active > a:hover,
.control-sidebar-light .control-sidebar-tabs > li.active > a:focus,
.control-sidebar-light .control-sidebar-tabs > li.active > a:active {
  background: #f9fafc;
  color: #111;
}
.control-sidebar-light .control-sidebar-heading,
.control-sidebar-light .control-sidebar-subheading {
  color: #111;
}
.control-sidebar-light .control-sidebar-menu {
  margin-left: -14px;
}
.control-sidebar-light .control-sidebar-menu > li > a:hover {
  background: #f4f4f5;
}
.control-sidebar-light .control-sidebar-menu > li > a .menu-info > p {
  color: #5e5e5e;
}
/*
 * Component: Dropdown menus
 * -------------------------
 */
/*Dropdowns in general*/
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-menu > .divider {
  background-color: #eee;
}
.navbar-nav .dropdown-menu {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.navbar-nav > .notifications-menu,
.navbar-nav > .messages-menu,
.navbar-nav > .tasks-menu {
  position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0!important;
  margin: 0!important;
  top: 100%;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li,
.navbar-nav > .messages-menu > .dropdown-menu > li,
.navbar-nav > .tasks-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header,
.navbar-nav > .messages-menu > .dropdown-menu > li.header,
.navbar-nav > .tasks-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444!important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    background: #fff!important;
    color: #444!important;
  }
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .glyphicon,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .fa,
.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  margin: 0px;
  padding: 10px 10px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  content: " ";
  display: table;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
  clear: both;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a {
  padding: 10px;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > h3 {
  font-size: 14px;
  padding: 0;
  margin: 0 0 10px 0;
  color: #666666;
}
.navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a > .progress {
  padding: 0;
  margin: 0;
}
.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}
.navbar-nav > .user-menu > .dropdown-menu,
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
  z-index: 5;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-top: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p > small {
  display: block;
  font-size: 12px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body {
  padding: 15px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #dddddd;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
  color: #444 !important;
}
@media (max-width: 991px) {
  .navbar-nav > .user-menu > .dropdown-menu > .user-body a {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:before,
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  content: " ";
  display: table;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer:after {
  clear: both;
}
.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}
.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}
@media (max-width: 767px) {
  .navbar-nav > .user-menu .user-image {
    float: none;
    margin-right: 0;
    margin-top: -8px;
    line-height: 10px;
  }
}

/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/
.open:not(.dropup) > .animated-dropdown-menu {
  backface-visibility: visible !important;
  -webkit-animation: flipInX 0.7s both;
  -o-animation: flipInX 0.7s both;
  animation: flipInX 0.7s both;
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}
/* Fix dropdown menu in navbars */
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
}
@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
  }
  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 5%;
    left: auto;
    border: 1px solid #ddd;
    background: #fff;
  }
}



.sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span, .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
    display: none !important;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
}
.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0px 1px;
    background: #2C3B41 none repeat scroll 0% 0%;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: outside none none;
    padding: 0px 0px 0px 5px;
    margin: 0px;
}




@media (min-width: 768px){
	.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span, .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
		display: none!important;
		-webkit-transform: translateZ(0);
	}
}

@media (min-width: 768px){
	.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom-right-radius: 4px;
	}
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}
.sidebar-menu .treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.profile_heading_offset{
	text-align: center;
	margin: 30px 0px 40px !important;
    font-size: 35px !important;
    font-family: "Segoe UI";
}

.add_margin{
	margin-right: 8px;
}

.add_padding{
	padding-top: 18px;
    padding-bottom: 12px;
}

.add_border{
	border: 1px solid rgba(220, 220, 220, 0.5);
    padding: 10px 0px;
    background: rgba(240, 248, 255, 0.2);
    margin: 15px 0px;
}
.offset_height{
	height: 45px;
}
.offset_addon{
	border-right: 0px !important;
    border-color: rgba(220, 220, 220, 0.83) !important;
}

.add_border .page-header {
    margin: 0 !important;
    font-size: 22px;
    border: none;
}

.table-striped > tbody > tr > td {
    vertical-align: middle !important;
}

.offset_eattendance{
	background: #fff !important;
    border-right: 5px solid gainsboro;
    border-left: 5px solid gainsboro;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-radius: 0px !important;
}

.offset_library{
	margin-bottom: 20px !important;
    background-color: #fff !important;
    margin: 0px !important;
    border-bottom: 4px solid transparent !important;
    border-color: #00ACAC !important;
    width: 100% !important;
    padding: 20px 0px !important;
    border-top: 1px solid rgba(220, 220, 220, 0.35) !important;
}


/*employee profile page style starts here*/
.user-details {position: relative; padding: 0;}
.user-details .user-image {position: relative;  z-index: 1; width: 100%; text-align: center;}
.user-image img { clear: both; margin: auto; position: relative; width: 15%; height: auto;}

.user-details .user-info-block {width: 100%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px;}
.user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
.user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border: 1px solid #428BCA;}
.navigation li {float: left; margin: 0; padding: 0;}
.navigation li a {padding: 20px 30px; float: left;}
.navigation li a:hover {color:#000;}
.navigation li.active a {background: #428BCA; color: #fff;}
.user-info-block .user-body {
	float: left; 
	padding: 3% 1%;
    width: 100%;
    border-left: 1px solid rgba(66, 139, 202, 0.52);
    border-right: 1px solid rgba(66, 139, 202, 0.52);
    border-bottom: 1px solid rgba(66, 139, 202, 0.52);
    margin-bottom: 20px;}
.user-body .tab-content > div {float: left; width: 100%;}
.user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}