
	<link type="text/css" href="themes/base/ui.all.css" rel="stylesheet" />
	<script type="text/javascript" src="jquery-1.3.2.js"></script>
	<script type="text/javascript" src="ui.core.js"></script>
	<script type="text/javascript" src="ui.datepicker.js"></script>
	
	<script type="text/javascript">
	$(function() {
		$('#datepicker1').datepicker({
			showButtonPanel: true
		});
	});
	$(function() {
		$('#datepicker').datepicker({
			showButtonPanel: true
		});
	});
	</script>


<p>Date: <input type="text" id="datepicker1"></p>
<p>Date: <input type="text" id="datepicker"></p>
